
<div class="portal-upper-grid">
 
  <div class="apps-container container ng-star-inserted">

    <div class="content">
    
        <div  style="background-color: white;">
          <a class="no-text-decoration ng-star-inserted">
              <div class="portal-tiles iazi-tile iazi-tile-simple ng-star-inserted" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(219, 46, 46, 0);" > 
                
                <img  class="image-icon " alt="Responsive image" src="assets/Images/Portal/Admin.png">
                <h5  >ADMIN</h5>
            </div>
              
          </a>
      </div>
      <div  style="background-color: white;">
        <a class="no-text-decoration ng-star-inserted">
            <div class="portal-tiles iazi-tile iazi-tile-simple ng-star-inserted" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(219, 46, 46, 0);" > 
             <img  class="image-icon " alt="Responsive image" src="assets/Images/Portal/Admin.png">
              <h5  >PURCHASES</h5>
          </div>
            
        </a>
    </div>
    <div  style="background-color: white;">
      <a class="no-text-decoration ng-star-inserted">
          <div class="portal-tiles iazi-tile iazi-tile-simple ng-star-inserted" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(219, 46, 46, 0);" > 
            <img  class="image-icon " alt="Responsive image" src="assets/Images/Portal/Admin.png">
            <h5  >BILLING</h5>
        </div>
          
      </a>
  </div>
      
  

    
  </div>

  </div>

</div>
